
body{
    background-color: #756a6a;
}

h1{
    text-align: center;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 50px;
    color: white;
}

img{
    display: block;
    margin: auto;
}

p{
    font-family: 'Instrument Sans', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}